h3.text {
    color: #0a0a0a;
    font-weight: 500;
    text-shadow: none;
    font-size: 2ch;
    margin: 0;
}

.work-duty {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 0.6rem;
    align-items: center;
}

.work-duty .vehicle {
    font-size: 15px;
    padding-top: 34.5px;
    width: 90%;
}

#cafeteria {
    flex-direction: row;
    width: fit-content;
    font-size: 15px;
    padding-top: 34.5px;
    width: 90%;
}

[data-role='Kantine1'],
[data-role='Kantine2'] {
    height: 26px;
    width: 45%;
}

#triggeredSpace {
    width: clamp(300px, 70vw, 2160px);
    gap: 0.6rem;
    margin: 0 auto;
}