@media (max-width: 1080px) and (min-width: 951px) {
  .middle-duty .vehicle {
    width: 180px;
  }

  .top-duty .vehicle {
    width: 150px;
  }
}

@media (max-width: 950px) {
  .middle-duty {
    flex-wrap: wrap;
  }

  .top-duty {
    flex-direction: row;
  }

  .middle-duty .vehicle {
    width: 350px;
    max-height: 156px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
  }

  .top-duty .person {
    font-size: 1.6ch;
  }

  .middle-duty .vehicle .person {
    width: 150px;
    height: 25px;
  }

  .side .vehicle .person {
    width: 100px;
    padding: 0.3rem 0;
    font-size: 1.6ch;
  }

  .team {
    height: max-content;
  }

  .side {
    max-height: 180px;
  }

  .workServices .vehicle {
    flex-wrap: wrap !important;
    background-color: green;
  }

  .loginPicture {
    display: none !important;
  }

  .login {
    width: 90vw;
  }
}

@media (max-width: 950px) and (min-width: 501px) {
  [data-role="DLK1 Fü"] {
    width: 150px !important;
  }

  [data-role="DLK1 Ma"] {
    width: 150px !important;
  }

  [data-role="SoFzg Fü"] {
    width: 150px !important;
  }

  [data-role="SoFzg Ma"] {
    width: 150px !important;
  }

  [data-role="Wäsche"] {
    width: 150px !important;
    height: 60px !important;
  }
}

@media (max-width: 500px) {
  .middle-duty .vehicle {
    width: 300px;
  }

  .side .vehicle .person {
    width: 90px !important;
    padding: 0.3rem 0;
    font-size: 1.4ch;
  }

  .middle-duty .vehicle .person {
    width: 125px;
    height: 25px;
    font-size: 1.4ch;
  }

  #hnLogo {
    display: none;
  }

  header {
    justify-content: flex-end;
  }

  #papyrus {
    right: 100%;
  }

  .buttonspace {
    max-width: 300px;
    flex-wrap: wrap;
  }

  .btnSpace {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .heading {
    font-size: 3ch;
  }

  .vehicle {
    min-width: 60px;
  }
}