:root {
  font-family: 'Roboto', sans-serif;
}

h1.loginText {
  text-align: center;
  font-size: 4ch;
  color: #ff2a1c;
  margin-bottom: 0;
}

h2 {
  margin: 1rem 0;
  color: #0a0a0a;
  text-align: center;
}

h3 {
  display: flex;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
  color: #0a0a0a;
  text-align: left;
  font-weight: 300;
  font-size: 1.5ch;
}

.close {
  display: flex;
  float: right;
  justify-content: flex-end;
  padding-right: 0.6rem;
  padding-top: 0.3rem;
}

hr {
  color: #0a0a0a; /*Darkmode => */
}

html {
  font-size: clamp(12px, 0.9vw, 18px);
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f3f4f6; /*Darkmode => #1e2022*/
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  background: #ff2a1c; /*Darkmode => #bb0c00 */
  color: #ffffff; /*Darkmode => #181a1b)*/
  text-align: center;
  gap: 0.6rem;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 59px;
}

header img {
  float: left;
  margin-left: 0.6rem;
  max-height: 3ch;
}

.heading {
  color: #ffffff;
  margin: 0;
  padding: 1rem;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.logoContainer {
  width: 220px;
  align-items: baseline;
  align-content: center;
}

.navLogo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text {
  flex: 0 1 auto;
  text-decoration: none;
  color: #ffffff;
  float: right;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.container {
  width: min(90vw, 2560px);
  margin: 0 auto;
}

.containerFlex {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
  min-height: 0;
  height: 100%;
}

.card {
  background: #d1d5db; /* Darkmode => #2f3335*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #0a0a0a;
  margin: 0.1rem 0.4rem;
  border-radius: 10px;
  padding: 0.5rem 0;
  max-height: 20px;
  width: clamp(110px, 10vw, 200px);
  touch-action: none;
}

.card:hover {
  cursor: grab;
}

.card:active {
  background: #ddd;
}

.card.dragging {
  opacity: 0.5;
}

.drop-target {
  outline: 2px dashed #a81309;
  background-color: rgba(255, 0, 0, 0.05);
}

#papyrus {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 42px;
  margin-inline: auto;
  width: fit-content;
  height: 59px;
}

#PapyrusLogo {
  margin: 0;
  padding: 0;
}

.card#WA1,
#WA1 .card {
  background-color: #ffcdd2;
}

.card#WA2,
#WA2 .card {
  background-color: #fff9c4;
}

.card#WA3,
#WA3 .card {
  background-color: #c8e6c9;
}

.card#TED,
#TED .card {
  background-color: #b3e5fc;
}

.card#LD,
#LD .card {
  background-color: #d1d5db;
}

.card#DD,
#DD .card {
  background-color: #ffe0b2;
}

.card#GAL,
#GAL .card {
  background-color: #b6d5fb;
}
