<!DOCTYPE html>
<html lang="de">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
   <meta http-equiv="refresh" content="60" />
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/responsiveStyle.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>Papyrus</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
  <script src="../scripts/scripts.js"></script>
  <script src="../scripts/settings.js" defer></script>
  <script src="../scripts/alternaivPlan.js"></script>
</head>

<body>
  <div id="papyrus">
    <a href="https://de.wikipedia.org/wiki/Pyrotechnik" style="display: contents;">
      <img id="PapyrusLogo" src="../img/Logo.png" alt="Papyrus" style="height: 42px !IMPORTANT;max-height: 42px;">
      <h1 style="text-decoration: none;color: #FFFFFF;margin: 0;padding: 0;">Papyrus</h1>
    </a>
  </div>
  <header>
    <div id="hnLogo">
      <a href="https://feuerwehr.heilbronn.de/startseite.html">
        <img src="../img/HN_Logo_mit_Adler_Master_sRGB_w205.png" alt="LogoHN">
      </a>
    </div>

    <div class="navBar" style="float: right;">
      <a class="text" style="padding-right: 0.6rem;" href="login.html" onclick="Dienste.logout(); return false;">
        <img src="../img/ausloggen.png" alt="Logut" class="navLogo">
      </a>
      <a class="text" href="settings.html" style="padding-right: 0.6rem;">
        <img src="../img/einstellungen.png" alt="Einstellungen" class="navLogo">
      </a>
      <a class="text" href="index.html" style="padding-right: 0.6rem;">
        <img src="../img/hauptmenu.png" alt="Hauptmenü" class="navLogo">
      </a>
    </div>
  </header>

  <main class="container">
    <a class="text" href="shiftSchedule.html" style="padding-right: 0.6rem;" id="showStation">
      <img src="../img/menschen.png" alt="Mannschaft" id="showStationPic">
    </a>

    <a class="text" style="padding-left: 0.6rem;" id="trash">
      <img src="../img/trash.png" alt="Löschen" id="trashCan">
    </a>


    <h2>Führungsdienste</h2>

    <section class="top-duty">
      <div class="vehicle">
        <h3>ALvD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="ALvD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>DD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="DD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LD1</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LD 1" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LD2</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LD 2" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>HLD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="HLD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>EAL</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="EAL" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>BvD</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="BvD" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>LFüGr</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LFüGr" draggable="false">Frei</div>
      </div>

      <div class="vehicle">
        <h3>Schichtführer</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="Schichtführer" draggable="false">Frei</div>
      </div>

      <div class="vehicle" id="ils">
          <h3>ILS</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="1. Dispo" draggable="false">1. Dispo</div>
          <div class="person" data-role="2. Dispo" draggable="false">2. Dispo</div>
          <div class="person" data-role="3. Dispo" draggable="false">3. Dispo</div>
        </div>
    </section>

    <h2>Fahrzeuge</h2>

    <section class="middle-duty">
      <div class="side">
        <div class="vehicle" id="ELW">
          <h3>ELW</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="ELW" draggable="false">LD 1</div>
          <div class="person" data-role="FüAss" draggable="false">FüAss</div>
          <div class="person" data-role="Schw.Retter" draggable="false">3. Dispo</div>
        </div>
      </div>

      <div class="vehicle">
        <h3>LF1</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LF 1 Fü" draggable="false">LF 1 Fü</div>
        <div class="person" data-role="LF 1 Ma" draggable="false">LF 1 Ma</div>
        <div class="person" data-role="LF 1 ATF" draggable="false">LF 1 ATF</div>
        <div class="person" data-role="LF 1 ATM" draggable="false">LF 1 ATM</div>
        <div class="person" data-role="LF 1 WTF" draggable="false">LF 1 WTF</div>
        <div class="person" data-role="LF 1 WTM" draggable="false">LF 1 WTM</div>
      </div>

      <div class="vehicle">
        <h3>LF2</h3>
        <h3 class="close">X</h3>
        <div class="person" data-role="LF 2 Fü" draggable="false">LF 2 Fü</div>
        <div class="person" data-role="LF 2 Ma" draggable="false">LF 2 Ma</div>
        <div class="person" data-role="LF 2 ATF" draggable="false">LF 2 ATF</div>
        <div class="person" data-role="LF 2 ATM" draggable="false">LF 2 ATM</div>
        <div class="person" data-role="LF 2 WTF" draggable="false">LF 2 WTF</div>
        <div class="person" data-role="LF 2 WTM" draggable="false">LF 2 WTM</div>
      </div>

      <div class="side">

        <div class="vehicle">
          <h3>DLK/RW</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="DLK1 Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="DLK1 Ma" draggable="false">Maschinist</div>
        </div>

        <div class="vehicle">
          <h3>Sonderfahrzeug</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="SoFzg Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="SoFzg Ma" draggable="false">Maschinist</div>
        </div>
      </div>

      <div class="side">
        <div class="vehicle">
          <h3>KEF/GW-T</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="KEF Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="KEF Ma" draggable="false">Maschinist</div>
        </div>

        <div class="vehicle">
          <h3>FwK/GW-Rüst</h3>
          <h3 class="close">X</h3>
          <div class="person" data-role="Fwk Fü" draggable="false">Fahrzeugführer</div>
          <div class="person" data-role="Fwk Ma" draggable="false">Maschinist</div>
        </div>

      </div>
    </section>

    <div class="temporaryPlan" onclick="showAlternativePlan()">
    </div>

    <div class="activityPlan" onclick="showActivityPlan()">
    </div>

    <div class="freeTeamSpace">
      <div class="team" id="teamFree">
        <h2>Frei auf Wache</h2>
        <section id="innerTeam">
        </section>
      </div>

      <div class="team" id="teamUsed">
        <h2>Frei außer Haus</h2>
        <section id="innerTeam">
        </section>
      </div>
    </div>
  </main>

  <div id="temporaryDialog" title="Basic dialog">
    <div class="temporaryPlanClose" onclick="closeTemporaryPlan()">
    </div>
    <iframe id="iframe" data-src="alternativPlanes/temporaryPlan.html"></iframe>
  </div>

  <div id="activityDialog" title="Basic dialog">
    <div class="activityPlanClose" onclick="closeActivityPlan()">
    </div>
    <iframe id="iframe" data-src="alternativPlanes/activityPlan.html"></iframe>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      window.DiensteSettings.initSettingsAdjustment();
      window.Dienste.importNotWorkingPeople();

      const assignments = await window.Dienste.loadContent();
      if (!assignments || !assignments.length) return;

      window.Dienste.renderAssignments(assignments);
      window.Dienste.initDragAndDrop();
      window.Dienste.initDeleteButtons();
    });

    window.addEventListener("beforeunload", () => {
      localStorage.removeItem(K);
    });
  </script>
</body>

</html>